.Medpage{
    background-image: url('../Images/pngtree-health-medical-hospital-medicine-blue-banner-advertisement-image_177364.jpg');
    line-height: 20px;
    height: 429px;
}

.header{
    margin-top: 10px;
}